<style>
.developer_ {
  text-align: justify;
  text-align-last: justify;
}
</style>
<fieldset class="cbi-section">
	<div class="developer_">
		<table width="100%"><tr><td>
		<span id="_Dreamacro"><%:Dreamacro%></span>
		<span id="_vernesong"><%:vernesong%></span>
		<span id="_frainzy1477"><%:frainzy1477%></span>
		<span id="_SukkaW"><%:SukkaW%></span>
		<span id="_lhie1_dev"><%:lhie1_dev%></span>
		<span id="_ConnersHua_dev"><%:ConnersHua_dev%></span>
		<span id="_haishanh"><%:haishanh%></span>
		<span id="_MaxMind"><%:MaxMind%></span>
		<span id="_FQrabbit"><%:FQrabbit%></span>
		<span id="_Fndroid"><%:Fndroid%></span>
		<span id="_Alecthw"><%:Alecthw%></span>
		<span id="_Tindy_X"><%:Tindy_X%></span>
		<span id="_dlercloud"><%:dlercloud%></span>
		<span id="_immortalwrt"><%:immortalwrt%></span>
		</td></tr></table>
	</div>
</fieldset>